.panel-view {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 10px; 
}

.quantity {
    font-weight: bold;
    font-size: 20px;
}

.panel-controls {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.view-buttons {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.view-button {
    cursor: pointer;
}